<div class="form_wrapper">
	<div class="desc">
		지금 당신의 고민을 등록하세요.
	</div>
	<%= form_for Problem.new do |f| %>
		<div class="field">
			<%= f.text_area :content, :class => "text", :rows => 5 ,:autofocus => :true %>
		</div>
		<div class="actions">
			<%= f.submit("고민등록") %>
		</div>
	<% end %>
</div>

<ul class="problems best">
	<div class="desc blue">
		고민이에요 BEST
	</div>
	<% collection = Problem.find(:all, :order => "like desc", :limit => 1) %>
	<%= render :partial => '/problems/problem', :collection => collection %>
</ul>

<ul class="problems best">
	<div class="desc red">
		고민아니에요 BEST
	</div>
	<% collection = Problem.find(:all, :order => "dislike desc", :limit => 1) %>
	<%= render :partial => '/problems/problem', :collection => collection %>
</ul>

<ul class="problems">
	<div class="desc">
		최신 고민들
	</div>
	<% collection = Problem.find(:all, :order => "id desc") %>
	<%= render :partial => '/problems/problem', :collection => collection %>
</ul>
