<!DOCTYPE html>
<html>
<head>
  <title><%= SiteName %></title>
	<meta name="viewport" content="initial-scale=1.0; user-scalable=yes; minimum-scale=1.0; maximum-scale=1.0" /> 
	<meta name="apple-mobile-web-app-capable" content="yes" />
	 
	<%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="flash_messages">
    <%= flash_messages %>
  </div>

  <div id="header">
		<div class="site_name">
			<%# link_to "거기누구없소?", root_path %>
			<%= link_to "Anybodyhear.me?", root_path %>
		</div>
  </div>

  <div id="section">
    <%= yield %>
  </div>

  <div id="footer">
		<div class="header_link">
			<a id="header_link" style="display:none" href="#top">TOP</a>
		</div>
 	</div>
 </div>

</body>
</html>

<script type="text/javascript">
	document.addEventListener("touchmove", touchMove, false);
	document.addEventListener("scroll", scroll, false);
	
	function touchMove(event) {
		$("#header_link").show(); 
	};

	function scroll(event) {
		if(window.pageYOffset == 0) $("#header_link").hide();
	};
</script>
